{% extends 'app/base.html' %}
{% load static%}

{% block name-title %}
Update student list
{% endblock name-title %}

{% block page-title %}
Cập nhật danh sách sinh viên
{% endblock page-title %}

{% block link-css %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        /* table-layout: fixed; */
    }

    table, th, td {
        border: 1px solid black;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    th, td {
        text-align: left;
        padding: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .table-wrapper {
        max-height: 500px;
        overflow-x: auto;
        background-color: aliceblue;
        border-radius: 15px;
    }
    .file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
    .file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
    .file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
    .file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
    .file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
    .file-upload .file-select.file-select-disabled{opacity:0.65;}
    .file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
    .file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
    .file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
</style>
{% endblock link-css %}

{% block main-content %}
<div class="container vh-100" style="background-color: #FFFFFF; border-radius: 15px;">
    <div class="text-center pt-3">
        <h1 >Chọn file excel cập nhật danh sách sinh viên</h1>
        <div class="file-upload d-flex" style="justify-content: center;">
            <div class="file-select" style=" border-radius: 15px;">
                <div class="file-select-button" id="fileName">Choose File</div>
                <div class="file-select-name" id="noFile">No file chosen...</div> 
                <input type="file" name="excelFile" id="excelFile">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="d-flex" style="justify-content: space-evenly;">
                    <input type="button" value="Xem" onclick="uploadExcel()" class="btn btn-primary mb-3">
                    <input type="button" value="Cập nhật điểm" onclick="uploadExcel()" class="btn btn-primary mb-3">
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="table-wrapper">
        <table id="excelTable"></table>
    </div>
</div>
{% endblock main-content %}


{% block script-js %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script>
    $('#excelFile').bind('change', function () {
        var filename = $("#excelFile").val();
        if (/^\s*$/.test(filename)) {
            $(".file-upload").removeClass('active');
            $("#noFile").text("No file chosen..."); 
        }
        else {
            $(".file-upload").addClass('active');
            $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
        }
    });
    function uploadExcel() {
        let file = document.getElementById('excelFile').files[0];
        let reader = new FileReader();
        reader.onload = function(e) {
            let data = e.target.result;
            let workbook = XLSX.read(data, {type: 'binary'});
            let sheetName = workbook.SheetNames[0];
            let worksheet = workbook.Sheets[sheetName];
            let excelData = XLSX.utils.sheet_to_json(worksheet, {header: 1});

            let tableHtml = '<tr>';
            for (let i = 0; i < excelData[0].length; i++) {
                if (excelData[0][i] == null) {
                    excelData[0][i] = '';
                }
                tableHtml += '<th>' + excelData[0][i] + '</th>';
            }
            tableHtml += '</tr>';

            for (let i = 1; i < excelData.length; i++) {
                tableHtml += '<tr>';
                for (let j = 0; j < excelData[i].length; j++) {
                    if (excelData[i][j] == null) {
                        excelData[i][j] = '';
                    }
                    tableHtml += '<td>' + excelData[i][j] + '</td>';
                }
                tableHtml += '</tr>';
            }

            document.getElementById('excelTable').innerHTML = tableHtml;
        };
        reader.readAsBinaryString(file);
    }
</script>
{% endblock script-js %}